@import url("https://fonts.googleapis.com/css?family=Lato:300");

* {
    box-sizing: border-box
}

body {
    background: linear-gradient(315deg, #e66465, #9198e5);

}

.navbar {
    float: left;
    border: 1px solid #cccccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 1300px;
    margin:  0 0 80px 70px
}

/* Style the buttons that are used to open the tab content */
.navbar button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 18px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 25px;
}

/* Change background color of buttons on hover */
.navbar button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.navbar button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 1300px;
    background-color: #f1f1f1;
    margin: 0 50px 80px 0;
}


#title {
    border-radius: var(--border-width);
    padding: 50px 70px 50px 0;
    margin: 100px 50px 50px 80px;
    text-align: left;

}

p {
    font-size: 20px;
    line-height: 1.8;
}

h3 {
    font-size: 40px;
}

p, h3, div.gradient-border, button {
    font-family: 'Lora', serif;
    padding: 10px 0;
    margin: 10px 0;
}

.gradient-border {
    --border-width: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 35%;
    height: auto;
    font-family: Lato, sans-serif;
    font-size: 4rem;
    color: #222;
    background: white;
    border-radius: var(--border-width);
}
.gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}





/* Slideshow container */


.slideshow-container {
    background-color: lightgray;
    width: 800px;
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow-container img, .singlePic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
